<%= form_with(model: student_list, local: true) do |form| %>
  <% if student_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student_list.errors.count, "error") %> prohibited this student_list from being saved:</h2>

      <ul>
      <% student_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :student_name %>
    <%= form.text_field :student_name %>
  </div>

  <div class="field">
    <%= form.label :student_class %>
    <%= form.text_field :student_class %>
  </div>

  <div class="field">
    <%= form.label :student_std %>
    <%= form.text_field :student_std %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
