<p id="notice"><%= notice %></p>

<h1>Student Lists</h1>

<table>
  <thead>
    <tr>
      <th>Student name</th>
      <th>Student class</th>
      <th>Student std</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @student_lists.each do |student_list| %>
      <tr>
        <td><%= student_list.student_name %></td>
        <td><%= student_list.student_class %></td>
        <td><%= student_list.student_std %></td>
        <td><%= link_to 'Show', student_list %></td>
        <td><%= link_to 'Edit', edit_student_list_path(student_list) %></td>
        <td><%= link_to 'Destroy', student_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student List', new_student_list_path %>
