<p id="notice"><%= notice %></p>

<p>
  <strong>Student name:</strong>
  <%= @student_list.student_name %>
</p>

<p>
  <strong>Student class:</strong>
  <%= @student_list.student_class %>
</p>

<p>
  <strong>Student std:</strong>
  <%= @student_list.student_std %>
</p>

<%= link_to 'Edit', edit_student_list_path(@student_list) %> |
<%= link_to 'Back', student_lists_path %>
