<%= form_with(model: school, local: true) do |form| %>
  <% if school.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% school.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :school_name %>
    <%= form.text_field :school_name, class: "form-control"  %>
  </div>

  <div class="field">
    <%= form.label :school_place %>
    <%= form.text_field :school_place, class: "form-control"  %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>

<% end %>
<br>
