<% provide(:title, "Edit Schools") %>

<div class="row">
  <div class="col-sm-5">

<h1>Edit School</h1>

<%= render 'form', school: @school %>

<%= link_to 'Show', @school %> |
<%= link_to 'Back', schools_path %>

  </div>
</div>