<% provide(:title, "All Schools") %>

<div class="row">
  <div class="col-sm-5">

<h1>Schools</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>School name</th>
      <th>School place</th>
      <th colspan="3" style="text-align: center;">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @schools.each do |school| %>
      <tr>
        <td><%= school.school_name %></td>
        <td><%= school.school_place %></td>
        <td><%= link_to 'Show', school %></td>
        <td><%= link_to 'Edit', edit_school_path(school) %></td>
        <td><%= link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New School', new_school_path %>

  </div>
</div>