<% provide(:title, "School Details") %>

<div class="row">
  <div class="col-sm-4">

<p>
  <strong>School name:</strong>
  <%= @school.school_name %>
</p>

<p>
  <strong>School place:</strong>
  <%= @school.school_place %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
  </div>
</div>