<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><%=
        Rails.application.class.parent_name
      %></a>
    </div>

    <% if !current_user.nil? %>
    <ul class="nav navbar-nav">
      <li><%= link_to "Manage School", schools_path %></li>
    </ul>

    <% end %>

    <% if current_user.nil? %>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/users/sign_up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/users/sign_in"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    <% else %>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="JavaScript:void(0);"><%= current_user.email %></a></li>
        <li>
          <a rel="nofollow" data-method="delete" href="/users/sign_out"><span class="glyphicon glyphicon-log-out"></span>Logout</a>
        </li>
      </ul>
    <% end %>
  </div>
</nav>